// @import "~reset-css";

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.layout {

  .layout-content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (max-width: 420px) {
  .layout {

    .layout-content{
      padding: 0 10px;
    }
  }
}
body,html{
  background: #f0f2f5;
}

img{
  display: block;
  max-width: 100%;;
}
p{
  &:last-child{
    margin-bottom: 0;
  }
}
.mb-10{
  margin-bottom: 10px !important;
}
